<!-- <div class="image">
<div class="container">

    <div class="heading">
        <h4><span style="color: lightseagreen;">Welcome to E-rental SYSTEM</span></h4></div>
        <h2>WELCOME ADMIN</h2>
        <h2>These are the options</h2>  
    <div>
        <a href="#" routerLink="/product/index" class="btn">Products</a><br><br>
        <a href="#" routerLink="/vendor/index" class="btn">Vendor</a><br><br>
        <a href="#" routerLink="/customers/index" class="btn">Customer</a><br><br> 
        <a href="#" routerLink="/orders/index" class="btn">Order</a><br><br> 
        <a href="#" routerLink="/carts/index" class="btn">Cart</a> <br><br>
        <a href="#" routerLink="/booking/index" class="btn">Booking</a>
    </div>
</div>
</div> -->
<div class="image">
    <div class="container">

        <div class="heading">
            <h1><span style="color: lightseagreen;">Welcome to E-rental SYSTEM</span></h1></div>
            <h2>WELCOME ADMIN</h2> 
        <div>
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#" routerLink="/product/index" class="btn">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#" routerLink="/vendor/index" class="btn">Vendor</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#" routerLink="/customers/index" class="btn">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="/orders/index" class="btn">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="/carts/index" class="btn">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" routerLink="/booking/index" class="btn">Booking</a>
                </li>
            </ul>
        </div>

</div>