<div class="image">
<div class="hero">
    <div class="banner">
      <div class="left-column">
         <h1><span>E-Rental System</span></h1>
         <h3>Most of the people prefer renting products over buying</h3>
         <p>
            E-Rental System is platform that will help owners to showcase their products
            like vehicles,<br>homes these are open and available to be rented; it is also very beneficial 
            to those individuals who are looking for various products for rent.
         </p>
         <div class="btn">
            <button type="button" class="primary-btn"><a href="#">Login</a></button>
            <button type="button"><a href="#">Sign Up</a></button>
         </div>
         <div class="social-icons">
             <img src="https://www.enhertsccg.nhs.uk/sites/default/files/Engagement/Newsletter/social-media-icons.png">
         </div>
      </div>
      <div class="right-column">
          <div class="img">
          </div>
      </div>        
     </div>
  </div>
</div>
