<mat-nav-list>
    <div class="logo py-4">
        <img class="avatar mat-elevation-z8" src="../../assets/logo.png" alt="EMS">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2 text-light"><b>APPLICATIONS</b></h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active" class="text-light">
        <mat-icon>home</mat-icon>Home
    </a>
   
    <a mat-list-item routerLink="/user/login" class="text-light"><mat-icon>account_circle</mat-icon>Login</a>
    <a mat-list-item routerLink="/user/register"  class="text-light"><mat-icon>account_circle</mat-icon>SignUp</a> 
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active" class="text-light"><mat-icon>dashboard</mat-icon>Aboutus</a>
    <a mat-list-item routerLink="/home" class="text-light"><mat-icon>account_circle</mat-icon>Log Out</a>
</mat-nav-list>
