<div class="image">
<div class="container">
    <h1>Showing All Vendors</h1>
   
    <a href="#" routerLink="/vendor/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>vendorId :</strong>
        <p>{{ vendor.vendorId }}</p>
    </div>

    <div>
        <strong>categoryId :</strong>
        <p>{{ vendor.categoryId  }}</p>
    </div>

    <div>
        <strong>vendorName:</strong>
        <p>{{ vendor.vendorName }}</p>
    </div>

    <div>
        <strong>vendorUsername :</strong>
        <p>{{ vendor.vendorUsername }}</p>
    </div>

    <div>
        <strong>Vendor Password :</strong>
        <p>{{ vendor.vpwd }}</p>
    </div>

    <div>
        <strong>vendorPhone :</strong>
        <p>{{ vendor.vendorPhone }}</p>
    </div>

    <div>
        <strong>vendorEmail :</strong>
        <p>{{ vendor.vendorEmail}}</p>
    </div>

    <div>
        <strong>vendorAddress :</strong>
        <p>{{ vendor.vendorAddress }}</p>
    </div>

    <div>
        <strong>vendorCity:</strong>
        <p>{{ vendor.vendorCity }}</p>
    </div>

    <div>
        <strong>vendorState :</strong>
        <p>{{ vendor.vendorState }}</p>
    </div>

    <div>
        <strong>vendorPincode :</strong>
        <p>{{ vendor.vendorPincode }}</p>
    </div>

    <div>
        <strong>vendorAccountBalance:</strong>
        <p>{{ vendor.vendorAccountBalance }}</p>
    </div>

</div>
</div>
